unpackaged/main/default/flows/X45_days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_90_Day_DOrmant_note</name>
        <label>Log 90 Day DOrmant note</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <actionName>Account.LogACustomerCall</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
        </inputParameters>
        <nameSegment>Account.LogACustomerCall</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>lognotinSF</name>
        <label>Log a Call Action 1</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <actionName>Account.LogACustomerCall</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <stringValue>60 Day Dormant Notice to Account Owner</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Account.LogACustomerCall</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>X60_Day_Dormant_Notice</name>
        <label>60 Day Dormant Notice</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>Account.X60_and_90_Day_Dormant_Account_Notice</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>lognotinSF</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.X60_and_90_Day_Dormant_Account_Notice</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>X90_Day_dormant</name>
        <label>90 Day dormant</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <actionName>Account.X60_and_90_Day_Dormant_Account_Notice</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Log_90_Day_DOrmant_note</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.X60_and_90_Day_Dormant_Account_Notice</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <constants>
        <name>em</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>X60_Dayss</name>
        <label>Email to Rep</label>
        <locationX>314</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X60_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Days_SInce_Last_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>X60_Day_Dormant_Notice</targetReference>
            </connector>
            <label>60 Days</label>
        </rules>
        <rules>
            <name>X90_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Days_SInce_Last_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>X90_Day_dormant</targetReference>
            </connector>
            <label>90 Days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>45 days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>45 days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X60_Dayss</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contractor_Rate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>First_Order_Date__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-22</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
